@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cuprum-regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/cuprum-italic.ttf") format("truetype");
}

@font-face {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/alfa_slab_one-regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Gentium Book Basic';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/gentium_book_basic-regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/old_standard_tt-bold.ttf") format("truetype");
}