/*	*************************************
	Base
	************************************* */

body {
	margin-top: 70px;
	color: white;
}

h1 {
	margin-top: 0;
}

h2 {
	font-family: "Alfa Slab One", serif;
	font-size: 28px;
	padding-top: 10px;
	margin-bottom: 5px;
	color: #e0dfdc;
	letter-spacing: .1em;
	text-shadow: 2px 4px 3px rgba(40,40,40,0.6), 2px 4px 3px rgba(40,40,40,0.6);
	text-align: center;
}

h3 {
	font-family: "Old Standard TT", serif;
	font-size: 24px;
	text-shadow: 2px 4px 3px rgba(40,40,40,0.6), 6px 6px 3px rgba(40,40,40,0.6);
	clear: left;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 15px;
}

p, li {
	font-family: "Gentium Book Basic", serif;
	font-size: 20px;
}

strong {
	font-family: "Cuprum", sans-serif;
	font-size: 23px;
	font-style: italic;
	text-shadow: 2px 4px 3px rgba(40,40,40,0.6), 2px 4px 3px rgba(40,40,40,0.6);
	padding-right: 5px;
}

article {
	display: table;
}

article > h2:first-of-type {
	margin-top: 0;
}

article > img {
	border-radius: 15px;
	border: 4px solid white;
	display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
    box-shadow: 2px 4px 3px rgba(40,40,40,0.6), 2px 4px 3px rgba(40,40,40,0.6);
}

video {
	height: 280px;
	width: auto;
}

a {
	color: #80e5ff;
	text-decoration: none;
	font-family: "Cuprum", sans-serif;
	font-size: 22px;
	text-shadow: 2px 4px 3px rgba(40,40,40,0.6), 2px 4px 3px rgba(40,40,40,0.6);
	padding-right: 5px;
}

a:hover, a:focus {
	color: rgba(255,255,255,0.6);
	text-decoration: none;
}

ul, ol {
	padding-left: 20px;
}

footer {
	border-top: 1px solid white;
	margin-top: 30px;
	padding-top: 10px;
}

@media only screen and (min-width: 768px) {

	h2 {
		padding-top: 15px;
		font-size: 30px;
	}

	h3 {
		font-size: 26px;
	}

	p, li {
		font-size: 21px;
	}

	ul, ol {
		padding-left: 21px;
	}

	strong {
		font-size: 24px;
	}

	article > img {
		margin-top: 10px;
		margin-right: 20px;
		margin-bottom: 5px;
		float: left;
		text-align: left;
	}

	video {
		height: 500px;
	}

}

@media only screen and (min-width: 992px) {

	h2 {
		padding-top: 20px;
		font-size: 32px;
	}

	h3 {
		font-size: 28px;
	}

	p, li {
		font-size: 22px;
	}

	ul, ol {
		padding-left: 22px;
	}

	strong {
		font-size: 25px;
	}

	img {
		float: none;
		margin: 0 auto 15px;
	}

	video {
		height: 660px;
	}

}


/*	*************************************
	Modules
	************************************* */

.body_red {
    background: #990000;
    background: -webkit-linear-gradient(gray, #990000);
    background: -o-linear-gradient(gray, #990000);
    background: -moz-linear-gradient(gray, #990000); 
    background: linear-gradient(gray, #990000); 
}

.body_green {
	background: green;
	background: -webkit-linear-gradient(gray, green);
	background: -o-linear-gradient(gray, green);
	background: -moz-linear-gradient(gray, green); 
	background: linear-gradient(gray, green);
}

.body_gold {
	background: #998200;
	background: -webkit-linear-gradient(gray, #998200);
	background: -o-linear-gradient(gray, #998200);
	background: -moz-linear-gradient(gray, #998200); 
	background: linear-gradient(gray, #998200);
}

.body_blue {
	background: #007a99;
	background: -webkit-linear-gradient(gray, #007a99);
	background: -o-linear-gradient(gray, #007a99);
	background: -moz-linear-gradient(gray, #007a99); 
	background: linear-gradient(gray, #007a99);
}

.container {
	margin: 0 auto;
	max-width: 960px;
}

.item_container {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overflow_hidden {
	overflow: hidden;
}

.carousel {
	margin-bottom: 65px;
}

.carousel-control {
	width: 10%;
}

.carousel-indicators {
	bottom: -40px;
}

.carousel-indicators li {
	width: 13px;
	height: 13px;
	margin: 0 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.carousel-indicators .active {
	width: 13px;
	height: 13px;
	border: none;
	margin: 0 2px;
}

.carousel-inner > .item > .item_container > img {
	float: none;
	margin: 0 auto;
	width: auto;
	height: 100%;
}

.carousel-caption > a {
	font-size: 26px;
}

.navbar-inverse {
	background-color: rgba(40,40,40,0.9);
	border-color: white;
}

.navbar-inverse .navbar-toggle {
	border: none;
	margin-right: 5px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
	background-color: rgba(255,255,255,0.6);
}

.navbar-inverse .navbar-brand {
	padding: 0px;
	display: flex;
	align-items: center;
	margin-bottom: 0;
	color: white;
	font-family: "Cuprum", sans-serif;
	font-size: 23px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: rgba(255,255,255,0.6);
}

.navbar-inverse .navbar-brand > img {
	height: 45px;
	width: 119px;
	margin-left: 15px;
	padding: 5px 10px 5px 0;
}

.navbar-inverse .navbar-brand:focus > img, .navbar-inverse .navbar-brand:hover > img {
	opacity: 0.6;
}

.navbar-inverse .navbar-nav > li > a  {
	color: white;
	font-family: "Cuprum", sans-serif;
	text-align: right;
	padding-right: 16px;
	font-size: 21px;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
	color: rgba(255,255,255,0.6);
}

.navbar-inverse div.navbar-collapse {
    border-top: none;
    box-shadow: none;
}

.navbar-inverse .navbar-nav {
	margin-top: 0;
}

@media only screen and (min-width: 768px) {

	.carousel {
		margin-bottom: 75px;
	}

	.carousel-indicators {
		bottom: -45px;
	}

	.item_container {
		height: 360px;
	}

	.carousel-caption > a {
		font-size: 28px;
	}

	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 0;
	}

	.navbar-inverse .navbar-nav > li > a {
		padding-right: 15px;
	}

}

@media only screen and (min-width: 992px) {

	.item_container {
		height: 480px;
	}

	.carousel-caption > a {
		font-size: 30px;
	}

}


/*	*************************************
	Layout
	************************************* */

.col-md-8, .col-md-4, .col-md-12 {
	padding-left: 0;
	padding-right: 0;
}

@media only screen and (min-width: 992px) {

	.col-md-8 {
		padding-right: 15px;
	}

	.col-md-4 {
		padding-left: 15px;
	}

}

.row {
	margin-left: 0;
	margin-right: 0;
}


/*	*************************************
	State
	************************************* */

.navbar-inverse .navbar-nav > .active_red > a,
.navbar-inverse .navbar-nav > .active_red > a:focus,
.navbar-inverse .navbar-nav > .active_red > a:hover {
	background: none;
	color: #ff9999;
	pointer-events: none;

}

.navbar-inverse .navbar-nav > .active_green > a,
.navbar-inverse .navbar-nav > .active_green > a:focus,
.navbar-inverse .navbar-nav > .active_green > a:hover {
	background: none;
	color: #99ff99;
	pointer-events: none;
}

.navbar-inverse .navbar-nav > .active_gold > a,
.navbar-inverse .navbar-nav > .active_gold > a:focus,
.navbar-inverse .navbar-nav > .active_gold > a:hover {
	background: none;
	color: gold;
	pointer-events: none;
}

.navbar-inverse .navbar-nav > .active_blue > a,
.navbar-inverse .navbar-nav > .active_blue > a:focus,
.navbar-inverse .navbar-nav > .active_blue > a:hover {
	background: none;
	color: #66e0ff;
	pointer-events: none;
}