/*	*************************************
	Base
	************************************* */

body {
	font-family: "Gentium Book Basic", serif;
	margin-top: 70px;
	font-size: 18px;
	color: white;
}

h1 {
	margin-top: 0;
}

h2 {
	font-family: "Alfa Slab One", serif;
	font-size: 30px;
	margin-bottom: 5px;
}

h3 {
	font-family: "Old Standard TT", serif;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	font-size: 25px;
	padding: 80px 50px;
}

strong {
	font-weight: 900;
	font-style: italic;
	font-size: 23px;
}

article > h2:first-of-type {
	margin-top: 0;
}

img {
	float: right;
	margin-left: 15px;
	margin-bottom: 10px;
	display: inline;

}

a {
	color: #80e5ff;
	text-decoration: none;
}

a:hover, a:focus {
	color: rgba(255,255,255,0.6);
	text-decoration: none;
}

ul, ol {
	padding-left: 16px;
}

footer {
	border-top: 1px solid white;
	margin-top: 20px;
	padding-top: 10px;
}

@media only screen and (min-width: 768px) {

	h2:first-of-type {
		margin-top: 0;
	}

}

@media only screen and (min-width: 992px) {

	img {
		float: none;
		margin: 0 auto 15px;
	}

}


/*	*************************************
	Modules
	************************************* */

.body_red {
    background: #990000;
    background: -webkit-linear-gradient(gray, #990000);
    background: -o-linear-gradient(gray, #990000);
    background: -moz-linear-gradient(gray, #990000); 
    background: linear-gradient(gray, #990000); 
}

.body_green {
	background: green;
	background: -webkit-linear-gradient(gray, green);
	background: -o-linear-gradient(gray, green);
	background: -moz-linear-gradient(gray, green); 
	background: linear-gradient(gray, green);
}

.body_gold {
	background: #998200;
	background: -webkit-linear-gradient(gray, #998200);
	background: -o-linear-gradient(gray, #998200);
	background: -moz-linear-gradient(gray, #998200); 
	background: linear-gradient(gray, #998200);
}

.body_blue {
	background: #007a99;
	background: -webkit-linear-gradient(gray, #007a99);
	background: -o-linear-gradient(gray, #007a99);
	background: -moz-linear-gradient(gray, #007a99); 
	background: linear-gradient(gray, #007a99);
}

.container {
	margin: 0 auto;
	max-width: 960px;
}

.deepshadow {
	color: #e0dfdc;
	letter-spacing: .1em;
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
 
.inset-text-effect {
	text-align: center;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	-webkit-border-radius: 21px 0 21px 21px;
	border-radius: 21px 0 21px 21px;

	text-align: center;
	text-transform: normal;
	-o-text-overflow: clip;
	text-overflow: clip;
	white-space: pre;
	text-shadow: 17px 1px 20px rgba(140,140,140,0.6) , 5px -1px 2px rgba(0,0,0,0.67) ;
	-webkit-transform: rotateX(21.772396214971284deg);
	transform: rotateX(21.772396214971284deg);
}

.retro {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 auto;
	border: none;
	color: rgba(252,249,249,1);
	text-align: center;
	text-transform: uppercase;
	-o-text-overflow: clip;
	text-overflow: clip;
	letter-spacing: 10px;
	text-shadow: 2px 4px 0 rgba(89,89,96,1), 6px 6px 0 rgb(112,112,112);
}

.hit-the-floor {
	color: #fff;
	font-weight: bold;
	font-family: Helvetica;
	text-shadow: 0 0.5px 0 #ccc, 0 1px 0 #c9c9c9, 0 1.5px 0 #bbb, 0 2px 0 #b9b9b9, 0 2.5px 0 #aaa, 0 3px 0.5px rgba(0,0,0,.1), 0 0 2.5px rgba(0,0,0,.1), 0 0.5px 1.5px rgba(0,0,0,.3), 0 1.5px 2.5px rgba(0,0,0,.2), 0 2.5px 5px rgba(0,0,0,.25), 0 5px 5px rgba(0,0,0,.2), 0 10px 10px rgba(0,0,0,.15);
}

.content {
	padding: 20px;
	overflow: hidden;
}

.content img {
	margin-right: 15px;
	float: left;
}

.navbar-inverse {
	background-color: rgba(40,40,40,0.9);
	border-color: white;
}

.navbar-inverse .navbar-toggle {
	border: none;
	margin-right: 5px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
	background-color: rgba(255,255,255,0.6);
}

.navbar-inverse .navbar-brand {
	padding: 0px;
	display: flex;
	align-items: center;
	margin-bottom: 0;
	color: white;
	font-family: "Cuprum", arial, sans-serif;
	font-size: 20px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: rgba(255,255,255,0.6);
}

.navbar-inverse .navbar-brand > img {
	height: 45px;
	width: 45px;
	padding: 5px 10px 5px 0;
}

.navbar-inverse .navbar-brand:focus > img, .navbar-inverse .navbar-brand:hover > img {
	opacity: 0.6;
}

.navbar-inverse .navbar-nav > li > a  {
	color: white;
	font-family: "Cuprum", arial, sans-serif;
	text-align: right;
	padding-right: 16px;
	font-size: 18px;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
	color: rgba(255,255,255,0.6);
}

.navbar-inverse div.navbar-collapse {
    border-top: none;
    box-shadow: none;
}

.navbar-inverse .navbar-nav {
	margin-top: 0;
}

@media only screen and (min-width: 768px) {

	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 0;
	}

	.navbar-inverse .navbar-nav > li > a {
		padding-right: 15px;
	}

}


/*	*************************************
	Layout
	************************************* */

.col-md-8, .col-md-4, .col-md-12 {
	padding-left: 0;
	padding-right: 0;
}

@media only screen and (min-width: 992px) {

	.col-md-8 {
		padding-right: 15px;
	}

	.col-md-4 {
		padding-left: 15px;
	}

}

.row {
	margin-left: 0;
	margin-right: 0;
}


/*	*************************************
	State
	************************************* */

.navbar-inverse .navbar-nav > .active_red > a,
.navbar-inverse .navbar-nav > .active_red > a:focus,
.navbar-inverse .navbar-nav > .active_red > a:hover {
	background: none;
	color: #ff9999;
	pointer-events: none;

}

.navbar-inverse .navbar-nav > .active_green > a,
.navbar-inverse .navbar-nav > .active_green > a:focus,
.navbar-inverse .navbar-nav > .active_green > a:hover {
	background: none;
	color: #99ff99;
	pointer-events: none;
}

.navbar-inverse .navbar-nav > .active_gold > a,
.navbar-inverse .navbar-nav > .active_gold > a:focus,
.navbar-inverse .navbar-nav > .active_gold > a:hover {
	background: none;
	color: gold;
	pointer-events: none;
}

.navbar-inverse .navbar-nav > .active_blue > a,
.navbar-inverse .navbar-nav > .active_blue > a:focus,
.navbar-inverse .navbar-nav > .active_blue > a:hover {
	background: none;
	color: #66e0ff;
	pointer-events: none;
}